version: '3.8'
services:
  reg-system:
    build: .
    image: reg-system:latest
    container_name: reg-system
    env_file: .env
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: false
