name: Evaluation
on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  run-eval:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r evaluation/requirements.txt
      - name: Run evaluation
        env:
          EVAL_BASE_URL: ${{ secrets.EVAL_BASE_URL }}
        run: |
          python evaluation/run_evaluation.py
